---
layout:
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>EDGAR | Dezzie | User Experience and Interaction Design</title>
</head>

  <body>

{% include nav.html %}

    <!-- Hero Area -->
      <div class="panel-custom">
          <!--<img src="img/x/hero.png">-->
      </div>

    <!-- Intro section -->
      <div class="row"> <!-- row container for Intro -->
        <div class="small-12 medium-12 large-4 columns meta no-hero"> <!-- meta data -->
          <div class="row"> <!-- meta data header -->
            <div class="small-12 columns">
              <h1>EDGAR</h1>
              <h4>Simple prototyping to design a complex experience.</h4>
            </div> <!-- end column -->
          </div> <!-- end meta data header row-->

          <div class="row"> <!-- meta data 2nd row -->
            <div class="small-4 columns"> <!-- meta data row 2 left -->
              <h5>Dates</h5>
              <h6>2015</h6>
            </div>
            <div class="small-8 columns"> <!-- meta data row 2 right -->
               <h5>Role</h5>
              <h6>User Experience</h6>
            </div>
          </div> <!-- end meta data 2nd row -->
          <div class="small-12 columns">
              <h5>Organization</h5>
              <h6><a href="http://sec.gov/" target="new">Securities &amp; Exchange Commission (SEC)</a></h6>
            </div>

        </div> <!-- end meta data -->
        <div class="small-12 medium-12 large-8 columns no-hero"> <!-- intro text container-->
          <div class="row"><!-- top row -->
            <div class="large-12 columns">
              <h2>The SEC's mission is to promote fairness in markets, striking a balance between protecting investors and encouraging capital formation.</h2>


                <p><a href="http://www.sec.gov/edgar/searchedgar/companysearch.html" target="new">EDGAR</a> is a database that allows anyone to access real-time information about publicly traded companies. From mundane filings about a company's quarterly earnings to juicy paper trails about your favorite tycoon's insider transactions, EDGAR offers a wealth of information for investment experts to investigative journalists alike (pun intended).</p>


                <p>I took a <a href="http://uxmag.com/articles/the-top-ux-predictions-for-2015" target="new">slippy UX</a> approach to redesigning the EDGAR interface, one that would allow users to focus on getting what they needed and nothing else. They've got more important things to do.</p>



            </div> <!-- end column -->
          </div> <!-- end top row -->
           </div> <!-- end intro text container-->
      </div> <!-- end row container for Intro -->

    <!-- Main Content -->
      <div class="row"> <!-- content row 1 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 1 left -->
          <h2>Paper prototyping a search interface</h2>
          <p>Working with a new team at CHIEF HQ, some of my colleagues hadn't worked with robust browser applications before. I turned to paper prototypes to quickly convey initial directions and work out any major, unseen dead ends together.</p>
        </div> <!-- end content row 1 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 1 right -->
          <iframe src="https://player.vimeo.com/video/121541438" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/121541438">edgar</a> from <a href="https://vimeo.com/user38133931">Dezzie</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

        </div> <!-- end content row 1 right -->
      </div> <!-- end content row 1 -->

      <div class="row"> <!-- content row 2 -->
        <div class="small-12 medium-12 large-12 columns"> <!-- content row 2 left -->
          <h2>Architecting the interface</h2>
          <p>EDGAR's landing page currently lacks a meaningful introduction describing what it is, and the things users can do with it.</p>
        </div> <!-- end content row 2 left -->
        <div class="small-12 medium-12 large-12 columns"> <!-- content row 2 right -->
          <a href="img/edgar/wire1.png" target="new"><img src="img/edgar/wire2.png">
          </a>
        <h2>WHY DID YOU CHANGE IT?!</h2>
        <p>A simple onboarding experience provides all the information users need to know to get back to work using the new EDGAR. Curently, new users must download and search through a Word document to get started. My feelings on the rampant use of type of documentation in the government <a href="api.html">have been previously expressed</a>.</p>
          <a href="img/edgar/wire2.png" target="new"><img src="img/edgar/wire2.png"></a>
        <h2>Search results</h2>
        <p>A simpler, cleaner, search results view demonstrates information architecture decisions aimed at reducing cognitive overload.</p>
          <a href="img/edgar/wire3.png" target="new"><img src="img/edgar/wire3.png"></a>
        <h2>Filtering</h2>
        <p>The UI compartmentalizes tasks in the search process to improve focus, not break it.</p>
          <a href="img/edgar/wire4.png" target="new"><img src="img/edgar/wire4.png"></a>
        <h2>Connecting the dots</h2>
        <p>Facets are different from filters in that they allow users to find connections between companies and people. Whereas Filters are used to narrow down a large number of results, users are in sleuth mode when using Facets.</p>
          <a href="img/edgar/wire5.png" target="new"><img src="img/edgar/wire5.png"></a>
        <h2>Viewing the details</h2>
        <p>This is what a typical SEC filing document looks like. Taking a cue from material design, the UI helps users focus on scanning a filing, but does not break their flow, since they may not find what they're looking for the right time.</p>
          <a href="img/edgar/wire6.png" target="new"><img src="img/edgar/wire6.png"></a>
           <p>EDGAR's redesign is in the early stages of development. Here's why I chose to design 2 directions:</p>
           <p>In the past, unprecedented government-specific quirks have resulted in major parts of a tool's architecture to drastically change, undermining the designer's intent long after she can do anything about it. Providing a backup plan ensures that, no matter what happens, the SEC team can get it right the first time.</p>
        </div> <!-- end content row 2 right -->
      </div> <!-- end content row 2 -->

      {% include footer.html %}
 {% include scripts.html %}

  </body>
</html>
