---
layout: 
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>HMDA | Dezzie | User Experience and Interaction Design</title>
 
  </head>
  <body>

   {% include nav.html %}

    <!-- Hero Area -->
      <div class="panel-custom">
          <img src="img/hmda/hmda_hero.png">
      </div>

    <!-- Intro section -->
      <div class="row"> <!-- row container for Intro -->
        <div class="small-12 medium-12 large-3 columns meta"> <!-- meta data -->
          <div class="row"> <!-- meta data header -->
            <div class="small-12 columns">
              <h1>The Home Mortgage Disclosure Act</h1><h5><a href="http://consumerfinance.gov/hmda" target="new"><i class="el-icon-link social"></i></a>
              <a href="https://github.com/cfpb/hmda-explorer" target="new"><i class="el-icon-github social"></i> </a></h5>
            </div> <!-- end column -->
          </div> <!-- end meta data header row-->

          <div class="row"> <!-- meta data 2nd row -->
            <div class="small-6 columns"> <!-- meta data row 2 left -->
              <h5>Project year</h5>
              <h6>2013-2014</h6>
            </div>
            <div class="small-6 columns"> <!-- meta data row 2 right -->
              <h5>Organization</h5>
              <h6>CFPB</h6>
            </div>
          </div> <!-- end meta data 2nd row -->

          <div class="row"> <!-- meta data 3rd row -->
            <div class="small-12 columns">
              <h5>Project role</h5>
              <h6>User experience</h5>
              <h5>Project team</h5>
              <h6>Mike Brown, Chris Contolini, Seph Coster, Jonathan Crane, Clinton Dreisbach, Marc Esher, Mehgan Iulo, Dev Mehta, Misha Tepper</h6>
            </div>
          </div> <!-- end meta data 3rd row -->

          <div class="row"> <!-- meta data 4th row -->
            <div class="small-12 columns">
              <h5>Awards</h5>
              <h6>Center for Plain Language ClearMark Award, 2014</h6>
            </div>
          </div> <!-- end meta data 4th row -->


        </div> <!-- end meta data -->
        <div class="small-12 medium-12 large-9 columns"> <!-- intro text container-->
          <div class="row"><!-- top row -->
            <div class="large-12 columns">
              <h2>When it comes to working with data, people are ultimately interested in the story it tells. Some people want to hear those stories, while others want to tell them.</h2>
            </div> <!-- end column -->
          </div> <!-- end top row -->
          <div class="row"><!-- bottom row -->
            <div class="small-12 medium-12 large-6 columns"> <!-- left side -->
              <h3>Since 1975, the government has published data about mortgages due to the Home Mortgage Disclosure Act (”Hum-dah”). These data can provide insight into economic issues such as discriminatory lending patterns. But with millions of records reported by thousands of financial institutions, working with the data is overwhelming.</h3>
            </div><!-- end left side -->
            <div class="small-12 medium-12 large-6 columns"> <!-- right side -->
              <h3>My team and I modernized existing HMDA datasets into a “streaming data” platform that makes it easy for researchers to explore, filter, and fact-check with data. As one of the user experience designers on this project, I led the user research effort to identify our best audiences and their needs, and designed the user interface for our <a href="consumerfinance.gov/hmda/explore" target="new">Explore the data</a> tool.</h3>
            </div> <!-- end right side -->
          </div>
        </div> <!-- end intro text container-->
      </div> <!-- end row container for Intro -->

    <!-- Main Content -->
      <div class="row"> <!-- content row 1 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 1 left -->
          <h2>Identifying and prioritizing audiences</h2>
          <h4>I observed people in data-driven roles work using their current workflow to identify behaviors and common themes.</h4>
        </div> <!-- end content row 1 left -->

        <div class="small-12 medium-12 large-9 columns"> <!-- content row 1 right -->
          <div class="row"> <!-- top row -->
            <div class="small-12 columns">
              <img src="img/hmda/brainstorm_users_@2x.png">

              <img src="img/hmda/id_users_@2x.png">
            </div>
          </div> <!-- end top row -->
          <div class="row"> <!-- bottom row -->
            <div class="small-12 large-6 columns">
              <p>I identified 4 major workflow factors:
                  <ol>
                    <li><strong>Level of technical detail.</strong> People with really specific research methodologies, like a statistician, vs. people who don't deal with numbers at all.</li>
                    <li><strong>Level of subject-matter detail.</strong> People working on specific industry things, like a policy analyst, vs. people who have no previous knowledge of the mortgage industry.</li>
                  </ol>
                  </p>
            </div> <!-- end bottom left -->
            <div class="small-12 large-6 columns">
              <p>The team decided to build for current HMDA experts (orange!), who have specific research methods <em>and</em> also work on a specific aspect of the industry.</p>
              <p>However, we also wanted to help out advocacy organizations, journalists, bloggers, and any other people who could benefit from fact-checking or backing up their work with data (blue!).</p>
            </div> <!-- end bottom right -->
          </div> <!-- end bottom row -->
        </div> <!-- end content row 1 right -->
      </div> <!-- ennd content row 1 -->

      <div class="row"> <!-- content row 2 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 2 left -->
          <h2>Writing user stories</h2>
          <h4>Taking the insights from needfinding sessions and beginning to describe 
           features that enhance the work of experts, and provide value to non-experts.</h4>
           <h4>Two major tools evolved. One that <strong>filtered</strong> data, and one that <strong>grouped, sorted, and compared the data</strong>.
        </div> <!-- end content row 2 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 2 right -->
          <img src="img/hmda/orange_stories_@2x.png">
          <img src="img/hmda/blue_stories_@2x.png">
        </div> <!-- end content row 2 right -->
      </div> <!-- end content row 2 -->

      <div class="row"> <!-- content row 3 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 3 left -->
          <h2>Filter design</h2>
          <h4>The UI was designed using insights form participatory design exercises with users, but also drawing upon principles from cognitive psychology.</h4> 
        </div> <!-- end content row 3 left -->
         <div class="small-12 medium-12 large-9 columns"> <!-- content row 3 right -->
          <img src="img/hmda/UI_categories.png"><br>
          <img src="img/hmda/hmda_ui_2.png">
        </div> <!-- end content row 3 right -->
      </div> <!-- end content row 3 -->

      <div class="row"> <!-- content row 4 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 4 left -->
          <h2>Summary Table design</h2>
          <h4>Summary tables produce the answer to many questions, but they also help users narrow down even more on the data they need to incorporate into their work–like a graph, for example.</h4> 
        </div> <!-- end content row 4 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 4 right -->
          <img src="img/hmda/ui_summary_cold.png">
          <img src="img/hmda/ui_summary_hot.png">
        </div> <!-- end content row 4 right -->
      </div> <!-- end content row 4 -->

      <div class="row"> <!-- content row 5 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 5 left -->
          <h2>Improving the UI for user flow and API stability</h2>
          <h4>A year after release, I was able to tackle the usability issues I found with the original UI.</h4> 
          <h4>The work is still in progress, but using a lean UX approach, I've focused on quick, paper prototypes throughout the design process.</h4>
          <img src="img/hmda/ui_exercises.png">
        </div> <!-- end content row 5 left -->
      <div class="small-12 medium-12 large-3 columns"> <!-- content row 5 center -->
        </div> <!-- end content row 5 center -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 5 right -->
          <img src="img/hmda/ui_wires.png">
        </div> <!-- end content row 5 right -->
      </div> <!-- end content row 5 -->

{% include footer.html %}
{% include scripts.html %}

  </body>
</html>
