---
layout: 
title: Desiree Zamora Garcia's portfolio
overview: true
---

<!--
+amdg
go irish
viva mexico
-->

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>Dezzie's Home Page</title>
</head>

<body>

{% include nav.html %}


      <!-- Work -->
      <div class="row">
        <div class="spacer"></div>
        <div class="large-6 columns">
          <div class="hero">
          <a name="work"></a>
          <h1 data-magellan-destination="work blurb">Hello!<br> My name is Dezzie.</h1>
          <p>I work on Watson Conversation as a designer and I miss the old Internet.
              <!--
I have become comfortable designing with "emerging" AI such as machine learning, natural language processing, linguistic analysis, and a little bit of deep learning. But as a designer, I know more about the people who would benefit from this technology and how they would use it. It helps that I used to be in psychology, but I did also start making websites when I was 14.</p>    
          <p>While I do not have a formal design education, I align best with the Swiss style and like to use the word "vulgarity."</p>
          <p>Sometimes I speak at conferences, but only when I think I have something worthwhile to add to the industry (and it's not NDA). Now I am trying to write more. I still enjoy teaching and helping people discern if working in tech is right for them.</p>
          <p>At the end of the day, I just love the Internet. If there was no Internet I would not be a designer. I would have listened to my immigrant parents, become a doctor, and be really bored. </p>    
            -->
<br><br><br>
            <ul class="inline-list">
            <li><a href="http://twitter.com/thedezzie" title="Follow Me on Twitter" target="_blank"><i class="el-icon-twitter social"></i> </a></li>
            <li><a href="http://www.last.fm/user/missdezzie" target="_blank"><i class="el-icon-lastfm social"></i> </a></li>
            <li><a href="http://bit.ly/dezzie-linkedin" title="View my LinkedIn profile" target="_blank"><i class="el-icon-linkedin social"></i> </a></li>
            </ul>
          </div> <!-- end footer block 2 -->
       
 {% include scripts.html %}
</body>
</html>
