---
layout: 
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>Dezzie | User Experience and Interaction Design</title>
</head>

<body>

{% include nav.html %}


      <!-- Work -->
      <div class="row">
        <div class="spacer"></div>
        <div class="large-12 columns">
          <div class="hero">
          <a name="work"></a>
          <h1 data-magellan-destination="work blurb">Hello! My name is Dezzie.</h1>
          <h3>I design digital tools, experiences, and systems for the public good.</h3>
          <br>
          <h3>You may not know it, but my paycheck probably comes from you, American taxpayer. Here are some of the ways I've put your hard-earned tax dollars to work:</h3>
        </div>
      </div><!--closes out columns-->
    </div><!--closes out row-->

          <div class="row"> <!-- first row of work items -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="prepaids.html">
              <img class="portfolio" data-caption="caption here..." src="img/thumbs/prepaids.png"></a>
            </div> <!-- end work item 1 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="hmda.html">
              <img class="portfolio" data-caption="caption 2 here..." src="img/thumbs/hmda.png"></a>
            </div> <!-- end work item 2 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="api.html">
              <img class="portfolio" data-caption="caption 3 here..." src="img/thumbs/api.png"></a>
            </div> <!-- end work item 3 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="wizard.html">
              <img class="portfolio" data-caption="caption 4 here..." src="img/thumbs/wizard.png"></a>
            </div> <!-- end work item 4 -->
          </div> <!-- end first row of work items -->

          <div class="row portfolio-row-2"> <!-- second row of work items -->
            <div class="small-6 medium-3 large-3 columns">
              <a href="idea-box.html">
              <img class="portfolio" data-caption="caption here..." src="img/thumbs/ideabox.png"></a>
            </div> <!-- end work item 5 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="pattern-library.html">
              <img class="portfolio" data-caption="caption 2 here..." src="img/thumbs/pattern-library.png"></a>
            </div> <!-- end work item 6 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="paying-for-college.html">
              <img class="portfolio" data-caption="caption 3 here..." src="img/thumbs/p4c.png"></a>
            </div> <!-- end work item 7 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="ohai.html">
              <img class="portfolio" data-caption="caption 4 here..." src="img/thumbs/ohai.png"></a>
            </div> <!-- end work item 8 -->
          </div> <!-- end second row of work items -->

        </div> <!-- end column container for work -->
      </div> <!-- end row container for work -->

  <br>
        <div class="row">
        <div class="large-12 columns">
          <h1>Hai</h1>
          <div class="large-3 medium-3 small-6 columns">
  <img class="avatar" src="/img/avatars/square_1.jpg">
</div>
          <p>I like thinking, eating, and taking stuff apart. Sometimes this happens in front of a computer, sometimes in front of a stove.</p>
          <p>It is because of the underground trance music scene in Southern California that I made my first website when I was 14, and my on-again, off-again romance with design began. You should ask me about that story sometime.</p>

          <p>In college, I majored in psychology so I could learn how people think and feel, and why they do the things they do. I dropped a pre-med track for a <a href="http://cdt.nd.edu/" target="new">Computer Applications</a> major, because I realized that, if I was skipping class to write code instead, I might as well get some credit for it. I didn't fully take the hint though, until I went on and started a PhD in psychology, and became frustrated with an inability to find a creative outlet or take a technology-driven approach to solving problems.</p> 
          <p>Then I discovered the field of user experience while working as a <a href="http://gizmodo.com/5938323/how-to-be-a-genius-this-is-apples-secret-employee-training-manual" target="new">Genius</a>. I had to watch people navigate through Mac OS X for hours a day, and began to notice patterns of failure and success, frustration and delight. Suddenly, the design, technology, and psych made sense together. I quit the PhD. Soon after, I would meet <a href="http://www.audrey-chen.com/" target="new">Audrey Chen</a>, who convinced me that design <em>could</em> truly help people and work for the common good. The rest is history.</p>


      </div><!--closes out columns-->
    </div><!--closes out row-->

  <div class="row">
        <div class="large-12 columns">
          <h1>Articles</h1>
          <h2><a href="http://cfpb.github.io/articles/designing-prepaid-card-disclosures/" target="new">Designing prepaid card disclosures</a></h2>
          <h5>CFPB Open Tech - March 15, 2015</h5>
          <p>How do we balance Bureau values, like transparency and free access to information, with facts about cognition, emotion, and shopping behavior? <a href="http://cfpb.github.io/articles/designing-prepaid-card-disclosures/" target="new">Keep reading  <i class="fa fa-external-link-square"></i></a></p>
      </div><!--closes out columns-->
    </div><!--closes out row-->


 {% include footer.html %}
 {% include scripts.html %}
</body>
</html>
