---
layout: 
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>Dezzie | User Experience and Interaction Design</title>
</head>

<body>

{% include nav.html %}


      <!-- Work -->
      <div class="row">
        <div class="spacer"></div>
        <div class="large-12 columns">
          <div class="hero">
          <a name="work"></a>
          <h1 data-magellan-destination="work blurb">Hello! My name is Dezzie.</h1>
          <h3>You may not know it, but my paycheck probably comes from you, American taxpayer. Here are some of the ways I've put your hard-earned tax dollars to work:</h3>
        </div>
      </div><!--closes out columns-->
    </div><!--closes out row-->

          <div class="row"> <!-- first row of work items -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="hmda.html">
              <img class="portfolio" data-caption="caption here..." src="img/thumbs/hmda.png"></a>
            </div> <!-- end work item 1 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="api.html">
              <img class="portfolio" data-caption="caption 2 here..." src="img/thumbs/api.png"></a>
            </div> <!-- end work item 2 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="paying-for-college.html">
              <img class="portfolio" data-caption="caption 3 here..." src="img/thumbs/p4c.png"></a>
            </div> <!-- end work item 3 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="prepaids.html">
              <img class="portfolio" data-caption="caption 4 here..." src="img/thumbs/prepaids.png"></a>
            </div> <!-- end work item 4 -->
          </div> <!-- end first row of work items -->

          <div class="row portfolio-row-2"> <!-- second row of work items -->
            <div class="small-6 medium-3 large-3 columns">
              <a href="wizard.html">
              <img class="portfolio" data-caption="caption here..." src="img/thumbs/wizard.png"></a>
            </div> <!-- end work item 5 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="pattern-library.html">
              <img class="portfolio" data-caption="caption 2 here..." src="img/thumbs/pattern-library.png"></a>
            </div> <!-- end work item 6 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="idea-box.html">
              <img class="portfolio" data-caption="caption 3 here..." src="img/thumbs/ideabox.png"></a>
            </div> <!-- end work item 7 -->

            <div class="small-6 medium-3 large-3 columns">
              <a href="ohai.html">
              <img class="portfolio" data-caption="caption 4 here..." src="img/thumbs/ohai.png"></a>
            </div> <!-- end work item 8 -->
          </div> <!-- end second row of work items -->

        </div> <!-- end column container for work -->
      </div> <!-- end row container for work -->

 {% include footer.html %}
 {% include scripts.html %}
</body>
</html>
