---
layout: 
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>Pattern Library | Dezzie | User Experience and Interaction Design</title>
</head>

  <body>

{% include nav.html %}

    <!-- Hero Area -->
      <div class="panel-custom">
          <img src="img/pattern-library/pattern-library_hero.png">
      </div>

    <!-- Intro section -->
      <div class="row"> <!-- row container for Intro -->
        <div class="small-12 medium-12 large-3 columns meta"> <!-- meta data -->
          <div class="row"> <!-- meta data header -->
            <div class="small-12 columns">
              <h1>Pattern Library</h1>
              <h4>No moar copy editz!!!1</h4>
            </div> <!-- end column -->
          </div> <!-- end meta data header row-->

          <div class="row"> <!-- meta data 2nd row -->
            <div class="small-6 columns"> <!-- meta data row 2 left -->
              <h5>Project year</h5>
              <h6>2012</h6>
            </div>
            <div class="small-6 columns"> <!-- meta data row 2 right -->
               <h5>Organization</h5>
              <h6>CFPB</h6>
            </div>
          </div> <!-- end meta data 2nd row -->

          <div class="row"> <!-- meta data 3rd row -->
            <div class="small-12 columns">
              <h5>Project role</h5>
              <h6>User experience and visual design</h5>
              <h5>Project team</h5>
              <h6>Armin Kiany</h6>
            </div>
          </div> <!-- end meta data 3rd row -->

        </div> <!-- end meta data -->
        <div class="small-12 medium-12 large-9 columns"> <!-- intro text container-->
          <div class="row"><!-- top row -->
            <div class="large-12 columns">
              <h2>In 2012, the Design team at the CFPB numbered at less than 10 people, yet faced the workload of a team 4 times its size. Pattern Library was designed to allow staff to put together pages and change content on their own.</h2>
            </div> <!-- end column -->
          </div> <!-- end top row -->
          <div class="row"><!-- bottom row -->
            <div class="small-12 medium-12 large-6 columns"> <!-- left side -->
              <h4>So technically, it's not just a pattern library. It's a full-fledged content publishing tool. At one point it really was just a pattern library, but the name just stuck.</h4>
            </div><!-- end left side -->
            <div class="small-12 medium-12 large-6 columns"> <!-- right side -->
              <h4>Pattern library was used to publish most of the financial advice content on the first release of <a href="consumerfinance.gov/paying-for-college">Paying for College</a>.
            </div> <!-- end right side -->
          </div>
        </div> <!-- end intro text container-->
      </div> <!-- end row container for Intro -->

    <!-- Main Content -->
      <div class="row"> <!-- content row 1 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 1 left -->
          <h2>Defining and adding patterns to the library</h2>
          <h4>Snip up some HTML/CSS and we take care of the rest.</h4>
        </div> <!-- end content row 1 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 1 right -->
          <img src="img/pattern-library/patterns.png">

        </div> <!-- end content row 1 right -->
      </div> <!-- end content row 1 -->

      <div class="row"> <!-- content row 2 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 2 left -->
          <h2>Creating projects</h2>
        </div> <!-- end content row 2 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 2 right -->
          <img src="img/pattern-library/projects.png">
          <img src="img/pattern-library/list-pages.png">
        </div> <!-- end content row 2 right -->
      </div> <!-- end content row 2 -->

      <div class="row"> <!-- content row 3 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 3 left -->
          <h2>Publishing content</h2>
          <h4>Type into any pattern, WYSIWYG. Empower content strategists and product owners to work with their content without having to rely on designers and developers.</h4>
        </div> <!-- end content row 3 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 3 right -->
          <img src="img/pattern-library/editor.png">
          <img src="img/pattern-library/guides-published.png">
        </div> <!-- end content row 3 right -->
      </div> <!-- end content row 3 -->

 {% include footer.html %}
 {% include scripts.html %}
  
  </body>
</html>
