---
layout: 
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>Paying for College | Dezzie | User Experience and Interaction Design</title>
</head>

<body>
  <body>

 {% include nav.html %}

    <!-- Hero Area -->
      <div class="panel-custom">
          <img src="img/paying-for-college/paying-for-college_hero.png">
      </div>

    <!-- Intro section -->
      <div class="row"> <!-- row container for Intro -->
        <div class="small-12 medium-12 large-4 columns meta"> <!-- meta data -->
          <div class="row"> <!-- meta data header -->
            <div class="small-12 columns">
              <h1>Paying for College</h1>
              <a href="http://consumerfinance.gov/paying-for-college" target="new"><i class="el-icon-link social"></i></a>
            </div> <!-- end column -->
          </div> <!-- end meta data header row-->

          <div class="row"> <!-- meta data 2nd row -->
            <div class="small-6 columns"> <!-- meta data row 2 left -->
              <h5>Project year</h5>
              <h6>2012</h6>
            </div>
            <div class="small-6 columns"> <!-- meta data row 2 right -->
              <h5>Organization</h5>
              <h6>CFPB</h6>
            </div>
          </div> <!-- end meta data 2nd row -->

          <div class="row"> <!-- meta data 3rd row -->
            <div class="small-12 columns">
              <h5>Project role</h5>
              <h6>Front-end development</h5>
              <h5>Project team</h5>
              <h6>Armin Kiany, and Chuck Werner</h6>
            </div>
          </div> <!-- end meta data 3rd row -->

          <div class="row"> <!-- meta data 4th row -->
            <div class="small-12 columns">
              <h5>Awards</h5>
              <h6>Best in Web &amp; Digital Government<br>
              Core77 Design Award (runner-up)</h6>
            </div>
          </div> <!-- end meta data 4th row -->

        </div> <!-- end meta data -->
        <div class="small-12 medium-12 large-8 columns"> <!-- intro text container-->
          <div class="row"><!-- top row -->
            <div class="large-12 columns">
            </div> <!-- end column -->
          </div> <!-- end top row -->
          <div class="row"><!-- bottom row -->
            <div class="small-12 medium-12 large-6 columns"> <!-- left side -->
              
               <h3>The Bureau’s Consumer Guides are authoritative, unbiased partners in life’s big financial events.</h3>
                 <p>The first release of Paying for College included tools that help students compare financial aid offers,</p>
            </div><!-- end left side -->
            <div class="small-12 medium-12 large-6 columns"> <!-- right side -->
                           
              <p>learn about student loans, and decide on a loan repayment plan. My first assignment upon joining the Bureau, Paying for College was created during a time when the design and dev team numbered at less than 10 people, and we each wore many hats.</p>
            </div> <!-- end right side -->
          </div>
        </div> <!-- end intro text container-->
      </div> <!-- end row container for Intro -->

    <!-- Main Content -->
      <div class="row"> <!-- content row 1 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 1 left -->
          <h2>Visual language</h2>
          <h4>The CFPB’s illustration style in 2012 called for a flat, neutral style that reflected Bureau values of unbiased advice.</h4>
        </div> <!-- end content row 1 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 1 right -->
          <img src="img/paying-for-college/icons.png">
        </div> <!-- end content row 1 right -->
      </div> <!-- end content row 1 -->

      <div class="row"> <!-- content row 2 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 2 left -->
          <h2>Publishing content</h2>
          <p>The financial guides on Paying for College were designed to provide as much or as little information need for students and their families to make decisions.</p> 
          <p>But making copy and layout tweaks were unsustainable on a small design team. I ended up cutting up these pages into patterns for <a href="pattern-library.html">a content-publishing tool</a>, which would allow our editorial team to re-arrange and change content as they saw fit.</p>
        </div> <!-- end content row 2 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 2 right -->
          <img src="img/paying-for-college/comparison.png">
        </div> <!-- end content row 2 right -->
      </div> <!-- end content row 2 -->

      <div class="row"> <!-- content row 3 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 3 left -->
          <h2>Resources for schools</h2>
          <h4>Paying for College's engagement strategy began in the classroom. These handouts were designed for teachers and guidance counselors to share with students.</h4>
          <h4>These handouts were originally designed for print. Based on user feedback, Paying for College's print stylesheet will now produce a nearly-identical document.
        </div> <!-- end content row 3 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 3 right -->
          <img src="img/paying-for-college/handouts.png">
        </div> <!-- end content row 3 right -->
      </div> <!-- end content row 3 -->

 {% include footer.html %}
 {% include scripts.html %}
  
  </body>
</html>
