---
layout: 
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>Desiree Garcia | User Experience and Interaction Design</title>
</head>

<body>

  {% include nav.html %}
  <a name="resume"></a>
<br><br><br><br>


<div class="row"> <!-- work header row -->
            <div class="small-12 columns"> <!-- work header column -->  
<div class="row">
<div class="large-3 medium-3 small-6 columns">
  <img class="avatar" src="/img/avatars/square_1.jpg">
</div>

<div class="large-9 medium-12 small-12 columns blurb">
  <h2>I wrote my first line of code when I was 14 years old.</h2>

  <p>But it would take some time before my formal training in psychology would put me in an exciting position to build a better web.</p>
  <p>My strengths lie in analyzing human behavior from quantitative and qualitative user research. I use these insights to inspire and back up the design rationale behind new and better products.</p>
</div>


  </div>
</div>

        <div class="small-12 large-6 columns"> <!-- professional experience header container -->
          <div class="row"> <!-- professional experience header row -->
            <div class=""> <!-- professional experience header column -->
                         <h2>Professional Experience</h2>
            </div> <!-- end professional experience header column -->
          </div> <!-- end professional experience header row -->


      <div class="row"> <!-- job 1 -->
            <div class="small-12 columns job"><!-- job 1 left -->
              <h3><a href="http://rockcreeksm.com/" target="new">Rock Creek Strategic Marketing</a>/<a href="http://mybigchief.com/" target="new">CHIEF</a></h3>
              <h4>Senior User Experience Strategist</h4>
              <h5>Current</h5>
              <p>Helping define the vision for a growing UX team at a digital strategy agency that specializes in government consulting.</p> 

              <ul>
                <li>Design, moderate, analyze, and present UX work for robust browser-based applications.</li>
                <li>Acting as mentor to members of UX team through design studios, guerrilla usability sessions, and deliverable reviews.</li> 
                <li>Working with UX practice lead, Creative Director, and Technology Director to establish a more effective process within UX, and across marketing, development, and project management teams.</li>
              </p>
            </div> <!-- end job 1 left -->
        
          </div> <!-- end job 1 -->
          
          <div class="row"> <!-- job 2 -->
            <div class="small-12 columns job"><!-- job 2  -->
              <h3><a href="http://consumerfinance.gov/" target="new">Consumer Financial Protection Bureau (CFPB)</a></h3>
              <h4>User Experience Strategist (Rock Creek Strategic Marketing)</h4>
               <h5>2012 - 2015</h5>
              <p>Interface design, user experience research, and HTML prototyping for in-house design team. The CFPB is a 21st century federal government agency that engages consumers to take more control over their financial lives.</p>
              <ul>
                <li>Helped establish a culture of collaboration and iteration between the UX team and product owners, visual design, and development teams.</li>
                <li>Championed the adaptation of an Agile process across entire in-house team, working with coaches to explore sustainable workflows for UX on projects of varying scope and team size.</li>
                <li>Specialized in data-heavy products, creating interfaces for data experts and visualizations for non-expert audiences.</li>
                <li>Introduced behavioral and persuasive design strategies across team to create testable, more effective consumer products and information campaigns.</li>
                <li>Partnered with other federal agencies to promote the CFPB's open source products as a vehicle for a more transparent government.</li>
              </ul>
              <p>Demonstrated ability to lead, drive product vision, and integrate psychological research into design strategy resulted in promotion to Senior User Experience Strategist.</p>
            </div> <!-- end job 2  -->
            
          </div> <!-- end job 2 row -->
        
          <div class="row"> <!-- job 3 -->
            <div class="small-12 columns job"><!-- job 3  -->
              <h3><a href="http://consumerfinance.gov/" target="new">Consumer Financial Protection Bureau (CFPB)</a></h3>
              <h4>Interactive Designer (Rock Creek Strategic Marketing)</h4>
              <h5>2012 - 2012</h5>

              <p>A generalist role for a designer comfortable with wearing many hats. Responsible for taking print, digital, and interactive work to production.</p>
                <ul>
                  <li>Helped develop brand guidelines for Bureau, using previous research experience to focus on best practices for data visualizations.</li>
                  <li>Worked with product owners, engineers, and project managers to maximize resources and impact for the CFPB's small in-house design and development team.</li>
                </ul>
              <p>Demonstrated ability to work with product owners to align stakeholders, design, and development teams resulted in promotion to User Experience Strategist.</p>
            </div> <!-- end job 3  -->
          </div> <!-- end job 3 row -->

          <div class="row"> <!-- job 4 -->
            <div class="small-12 columns job"><!-- job 4 -->
              <h3>Freelance</h3>
              <h4>Design and Technology consultant</h4>
              <h5>2004 - Current</h5>
              <p>Working with clients to define vision and develop strategy for digital products and content. Team includes up to two resources.</p>
              <ul>
                <li>Services for clients cover the user experience and creative design process, including user and market research, personas, heuristic analyses, interactive prototypes, wireframes, content analyses, and visual design.</li>
                <li>Experience in recruiting and hiring for building in-house digital teams.</li>
              </ul>

                  <h5>The University of Notre Dame</h5>
                  <h6>Institute for Church Life<br>Institute for Latino Studies<br>Journal of Undergraduate Research<br>The Career Center<br>Department of Psychology</h6>
                  <h5>Archdiocese of Washington</h5>
                  <h6>DC Young Adult Ministry</h6>
                  <h5>Bikram Yoga Dupont</h5>
                  <h6>Carolan Doiny, Founder</h6>
                  <h5>Blue Rock Records</h5>
                  <h6>Grace Pettis, debut album</h6>
            </div> <!-- end other 2 left -->
          </div> <!-- end other 2 -->
          <!-- end freelance client list -->
    
          <div class="row"> <!-- job 4 -->
            <div class="small-12 columns job"><!-- job 4 left -->
              <h3>American Immigration Lawyers Association (AILA)</h3>
              <h4>Web and IT Specialist</h4>
              <h5>2011 - 2012</h5>
              <p>AILA provides research resources, continuing education, and substantive news to immigration law community. Used HTML/CSS/jQuery skills to publish custom content for five WordPress-based web properties. Performed heuristic evaluations, and used member feedback to make usability recommendations to web team.</p>
            </div> <!-- end job 4 left -->
          </div> <!-- end job 4 -->

          <div class="row"> <!-- job 5 -->
            <div class="small-12 columns job"><!-- job 5 left -->
              <h3>Apple, Inc.</h3>
              <h4>Genius</h4>
              <h5>2009 - 2010</h5>
              <p>Provided the best technical support and repairs in the consumer electronics industry. Completed Genius Training at Cupertino, CA headquarters, earning an Apple Certified Macintosh Technician (ACMT) certification. </p>
              <ul>
                <li>Handled difficult situations with uncanny poise in a fast-paced, dynamic retail environment.</li>
                <li>Mastered proprietary, empathy-based customer service techniques.</li> 
                <li>Built relationships with customers by demonstrating burning desire to solve problems and communicating concepts in lay terms.</li> 
                <li>Solved software problems in 15 minutes or less for frontline customer support; performed repairs across entire line of present and past Apple products. </li>
              </ul>
            </div> <!-- end job 5 left -->
        
          </div> <!-- end job 5 -->

          <div class="row"> <!-- job 6 -->
            <div class="small-12 columns job"><!-- job 6 left -->
              <h3>The George Washington University</h3>
              <h4>Research Assistant, Department of Psychology</h4>
               <h5>2008 - 2011</h5>
              <p>Provided mental health services and educational aptitude testing, performed statistical analyses, and filled system administrator role for Department of Psychology.</p>
              <ul>
                <li>Strengthened ability to interview, observe, empathize with, and to solve problems with both individuals and groups.</li>
                <li>Developed impartial, consistent testing skills.</li>
                <li>Developed ability to collect and interpret both quantitative and qualitative data for large-budget, longitudinal research, as well as low- budget guerrilla techniques.</li>
              </ul>
            </div> <!-- end job 6 left -->
          </div> <!-- end job 6 -->

          <div class="row"> <!-- job 7 -->
            <div class="small-12 columns job"><!-- job 7 left -->
              <h3>The Notre Dame Web Group</h3>
              <h4>Student Web Developer</h4>
               <h5>2006 - 2007</h5>
               <p>A full-service web agency. Practiced standards-compliant front-end development (that was the cool thing back then). Worked closely with other developers, designers, and one information architect. Maybe missed class in order to hone coding skills instead.</p>
            </div> <!-- end job 7 left -->
          </div> <!-- end job 7 -->

          <div class="row"> <!-- job 8 -->
            <div class="small-12 columns job"><!-- job 8 left -->
              <h3>The University of Notre Dame</h3>
              <h4>Research Assistant</h4>
              <h5>2006 - 2008</h5>
            </div> <!-- end job 8 left -->
          </div> <!-- end job 8 -->

          <div class="row"> <!-- job 9 -->
            <div class="small-12 columns job"><!-- job 9 left -->
              <h3>The Observer</h3>
              <h4>Student Graphic Designer</h4>
               <h5>2004 - 2005</h5>
            </div> <!-- end job 9 left -->
          </div> <!-- end job 9 -->

        <!--END LEFT COLUMN--></div> <!-- end work container -->

        <h2 data-magellan-destination="resume"></h2>

        <div class="small-12 large-6 columns"> <!-- professional experience header container -->
          
          <div class="row"> <!-- professional experience header row -->
            <div class=""> <!-- professional experience header column -->
            <h2>Skills</h2>
            </div> <!-- end professional experience header column -->
          </div> <!-- end professional experience header row -->

          <div class="row"> <!-- job 9 -->
            <div class="small-12 columns job"><!-- job 9 left -->
              <div class="small-12 columns"> <!-- award name -->
              <h5>User Experience</h5>

                <h6>
                Paper prototyping,
                Wireframing (low and high fidelity), 
                Interactive prototyping, 
                Ethnography,
                User Interviews,
                Personas, 
                Task flows, 
                Content analyses,
                Heuristic evaluations,
                Design studios.</h6>
              </div>

            <hr>

            <div class="small-12 columns"> <!-- award name -->
              <h5>Visual Design</h5>
                <h6>Sketching, Illustrator,
                Photoshop,
                InDesign.</h6>
              </div>

            <hr>

             <div class="small-12 columns"> <!-- award name -->
              <h5>Front-end development</h5>
                <h6>HTML/CSS,
                JavaScript,
                WordPress, Drupal.
                </h6>
              </div>
            <hr>

             <div class="small-12 columns"> <!-- award name -->
              <h5>Process</h5>
                <h6>Lean UX,
                Agile Scrum,
                Github.
                </h6>
              </div>
            <hr>
            <div class="small-12 columns"> <!-- award name -->
              <h5>Languages</h5>
                <h6>Se habla español.<br>
                  Native speaker, writer, reader, listener–including design and business vocabulary.</h6>
              </div>

            </div> <!-- end job 9 left -->
          </div> <!-- end job 9 -->
             <div class="row"> <!-- professional experience header row -->
            <div class=""> <!-- professional experience header column -->
            <h2>Talks and Presentations</h2>
            </div> <!-- end professional experience header column -->
          </div> <!-- end professional experience header row -->
          <div class="row"> <!-- job 9 -->
            <div class="small-12 columns job"><!-- job 9 left -->
            <div class="small-9 columns"> <!-- other 3 left -->
              <h5><a href="http://www.xeleratetech.com/" target="new">Latin@s in Tech, SXSW</a></h5>
              <h6>Panelist</h6>
            </div>
            <div class="small-3 columns"> <!-- other 3 right -->
              <h6>March 2015</h6>
            </div> <!-- end other 3 right -->
              <hr>
            <div class="small-9 columns"> <!-- other 3 left -->
              <h5><a href="http://www.designforaction.org/" target="new">Design for Action 2014</a></h5>
              <h6>Designing effective consumer disclosures</h6>
            </div>
            <div class="small-3 columns"> <!-- other 3 right -->
              <h6>October 2014</h6>
            </div> <!-- end other 3 right -->
              <hr>
            <div class="small-9 columns"> <!-- other 3 left -->
              <h5><a href="http://www.digitalgov.gov/2014/05/09/make-gov-apis-better-with-user-experience/" target="new">API UX @ 18f</a></h5>
              <h6>An API Documentation framework for government open source</h6>
            </div>
            <div class="small-3 columns"> <!-- other 3 right -->
              <h6>April 2014</h6>
            </div> <!-- end other 3 right -->
              <hr>
            <div class="small-9 columns"> <!-- other 3 left -->
              <h5>Refresh DC, UX Show &amp; Tell</h5>
              <h6>The Home Mortgage Disclosure Act</h6>
            </div>
            <div class="small-3 columns"> <!-- other 3 right -->
              <h6>February 2014</h6>
            </div> <!-- end other 3 right -->
              <hr>
            <div class="small-9 columns"> <!-- other 3 left -->
              <h5>Technology &amp; Innovation Fellowship Regroup</h5>
              <h6>Disrupting the research community with a public data platform</h6>
            </div>
            <div class="small-3 columns"> <!-- other 3 right -->
              <h6>November 2013</h6>
            </div> <!-- end other 3 right -->
              <hr>
              
            <div class="small-9 columns"> <!-- other 3 left -->
              <h5>McNair Scholars Conference</h5>
              <h6>Using the Steam SDK to create custom scenarios for research studies</h6>
            </div>
            <div class="small-3 columns"> <!-- other 3 right -->
              <h6>August 2008</h6>
            </div> <!-- end other 3 right -->
            </div> <!-- end job 9 left -->
          </div> <!-- end job 9 -->

   <div class="row"> <!-- professional experience header row -->
            <div class=""> <!-- professional experience header column -->
            <h2>Community Involvment</h2>
            </div> <!-- end professional experience header column -->
          </div> <!-- end professional experience header row -->

          <div class="row"> <!-- job 9 -->
            <div class="small-12 columns job"><!-- job 9 left -->
              <div class="small-9 columns"> <!-- other 3 left -->
              <h5>UXPA-DC User Focus Conference</h5>
              <h6>Proposal reviewer</h6>
            </div>
            <div class="small-3 columns"> <!-- other 3 right -->
              <h6>2014</h6>
            </div> <!-- end other 3 right -->
              <hr>
            <div class="small-9 columns"> <!-- other 3 left -->
              <h5>Notre Dame Alumni Association</h5>
              <h6>Intern Mentorship Program, Tech Industry</h6>
            </div>
            <div class="small-3 columns"> <!-- other 3 right -->
              <h6>2014</h6>
            </div> <!-- end other 3 right -->
              <hr>
              <div class="small-9 columns"> <!-- other 3 left -->
              <h5>UX Dinner Meetup</h5>
              <h6>Organizer</h6>
            </div>
            <div class="small-3 columns"> <!-- other 3 right -->
              <h6>2014 - Current</h6>
            </div> <!-- end other 3 right -->
              <hr>
            <div class="small-9 columns"> <!-- other 3 left -->
              <h5>Codecademy DC Meetup</h5>
              <h6>Organizer</h6>
            </div>
            <div class="small-3 columns">
              <h6>2012</h6>
            </div>
            </div> <!-- end job 9 left -->
          </div> <!-- end job 9 -->

             <div class="row"> <!-- professional experience header row -->
            <div class=""> <!-- professional experience header column -->
            <h2>Awards</h2>
            </div> <!-- end professional experience header column -->
          </div> <!-- end professional experience header row -->

          <div class="row"> <!-- job 9 -->
            <div class="small-12 columns job"><!-- job 9 left -->
              <div class="small-9 columns"> <!-- award name -->
              <h5>ClearMark Award, Center for Plain Language</h5>
              <h6>The Home Mortgage Disclosure Act</h6>
            </div>
            <div class="small-3 columns"> <!-- date column -->
              <h6>2014</h6>
            </div> <!-- end date column -->

            <hr>

            <div class="small-9 columns"> <!-- award name -->
              <h5>Winner, Best in Web &amp; Digital Government</h5>
              <h6>Paying for College</h6>
            </div>
            <div class="small-3 columns"> <!-- date column -->
              <h6>2013</h6>
            </div> <!-- end date column -->

            <hr>
            
            <div class="small-9 columns"> <!-- award name -->
              <h5>Government runner-up, Core77 Design Awards</h5>
              <h6>Paying for College</h6>
            </div>
            <div class="small-3 columns"> <!-- date column -->
              <h6>2013</h6>
            </div> <!-- end date column -->

            </div> <!-- end job 9 left -->
          </div> <!-- end job 9 -->

   <div class="row"> <!-- professional experience header row -->
            <div class=""> <!-- professional experience header column -->
            <h2>Education</h2>
            </div> <!-- end professional experience header column -->
          </div> <!-- end professional experience header row -->

          <div class="row"> <!-- job 9 -->
            <div class="small-12 columns job"><!-- job 9 left -->
             <div class="small-9 columns"> <!-- award name -->
              <h5>The University of Notre Dame</h5>
              <h6>BA in Psychology, Computer Applications</h6>
            </div>
            <div class="small-3 columns"> <!-- date column -->
              <h6>2008</h6>
            </div> <!-- end date column -->
            </div> <!-- end job 9 left -->
          </div> <!-- end job 9 -->
 <!--END RIGHT COLUMN--></div> <!-- end showing off container -->




 {% include footer.html %}
 {% include scripts.html %}
  
  </body>
</html>
