---
layout: 
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>Wizard Wizard | Dezzie | User Experience and Interaction Design</title>
</head>

  <body>

{% include nav.html %}

    <!-- Hero Area -->
      <div class="panel-custom">
          <img src="img/wizard-wizard/wizard_hero.png">
      </div>
      
    <!-- Intro section -->
      <div class="row"> <!-- row container for Intro -->
        <div class="small-12 medium-12 large-3 columns meta"> <!-- meta data -->
          <div class="row"> <!-- meta data header -->
            <div class="small-12 columns">
              <h1>Wizard Wizard</h1>
              <h4>A tool for making bureaucracy less painful for everyone</h4>
            </div> <!-- end column -->
          </div> <!-- end meta data header row-->

          <div class="row"> <!-- meta data 2nd row -->
            <div class="small-6 columns"> <!-- meta data row 2 left -->
              <h5>Project year</h5>
              <h6>2014</h6>
            </div>
            <div class="small-6 columns"> <!-- meta data row 2 right -->
              <h5>Organization</h5>
              <h6>CFPB</h6>
            </div>
          </div> <!-- end meta data 2nd row -->

          <div class="row"> <!-- meta data 3rd row -->
            <div class="small-12 columns">
              <h5>Project role</h5>
              <h6>User experience</h6>
              <h5>Project team</h5>
              <h6>Dan Brown, Seph Coster, Armin Kiany, Dev Mehta</h6>
            </div>
          </div> <!-- end meta data 3rd row -->


        </div> <!-- end meta data -->
        <div class="small-12 medium-12 large-9 columns"> <!-- intro text container-->
          <div class="row"><!-- top row -->
            <div class="large-12 columns">
              <h2>Wizard Wizard is a process chart and decision tree tool built using D3.js and React. It lives on the CFPB’s Intranet, where it helps make bureaucracy less painful for everyone.</h2>
            </div> <!-- end column -->
          </div> <!-- end top row -->
          <div class="row"><!-- bottom row -->
            <div class="small-12 medium-12 large-6 columns"> <!-- left side -->
              <h4>One of the drawbacks of creating a new agency is that legacy federal employees end up explaining idiosyncrasies to their private sector colleagues.</h4>
            </div><!-- end left side -->
            <div class="small-12 medium-12 large-6 columns"> <!-- right side -->
              <h4>It interferes with their productivity, and it makes them deal with complaints that aren't their fault.</h4>
            </div> <!-- end right side -->
          </div>
        </div> <!-- end intro text container-->
      </div> <!-- end row container for Intro -->

    <!-- Main Content -->
      <div class="row"> <!-- content row 1 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 1 left -->
          <h2>Editor design</h2>
          <h4>Creating a wizard begins in the Editor, where users map out scenarios, possibilities, and their outcomes.</h4>
        </div> <!-- end content row 1 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 1 right -->
          <img src="img/wizard-wizard/editor.png">
          <img src="img/wizard-wizard/full-editor.png">
          
        </div> <!-- end content row 1 right -->
      </div> <!-- end content row 1 -->

      <div class="row"> <!-- content row 2 -->
        <div class="small-12 medium-12 large-3 columns"> <!-- content row 2 left -->
          <h2>Going through a wizard</h2>
          <h4>Walk a user through a series of questions to help them find answers.</h4>
        </div> <!-- end content row 2 left -->
        <div class="small-12 medium-12 large-9 columns"> <!-- content row 2 right -->
          <img src="img/wizard-wizard/share.png">
          <img src="img/wizard-wizard/wizard-run.png">
        </div> <!-- end content row 2 right -->
      </div> <!-- end content row 2 -->


{% include footer.html %}
{% include scripts.html %}
  
  </body>
</html>
