---
layout:
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>Dezzie | User Experience and Interaction Design</title>
</head>

<body>

{% include nav.html %}

      <div class="row">
        <div class="spacer"></div>
        <div class="large-12 columns">
          <div class="hero">
          <a name="work"></a>
          <h1 data-magellan-destination="work blurb">Work</h1>
<section>
      <div class="row">
          <h2>IBM Watson</h2>
          <p>Recent work as part of the <a href="https://www.ibm.com/design/" target="new">IBM Watson</a> core design team:</p>
          <p><a href="watson-conversation.html">Watson Conversation</a></p>
          <p><a href="watson-platform.html">Watson Platform</a></p>
          <p><a href="watson-services.html">Watson Signal Services</a></p>
      </div>
</section>
<section>
          <div class="row">
          <h2>Government</h2>
          <p>Projects contributed to while at the <a href="http://consumerfinance.gov" target="new" title="takes you to CFPB landing page">Consumer Financial Protection Bureau</a> between 2012 and 2015:</p>
            <p><a href="prepaids.html">Prepaid cards</a></p>
            <p><a href="api.html">Documentation for Government APIs</a></p>
            <p><a href="hmda.html">The Home Mortgage Disclosure Act</a></p>
          <p>Projects contributed to while at <a href="http://agencychief.com" target="new">CHIEF</a> in 2015:
            <p><a href="edgar.html">Securities and Exchange Commission</a></p>
          </div>
</section>
        </div>
      </div>
 {% include footer.html %}
 {% include scripts.html %}
</body>
</html>
