---
layout:
title: Desiree Zamora Garcia's UX portfolio
overview: true
---


<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
    <title>Dezzie | User Experience and Interaction Design</title>
</head>

<body>

{% include nav.html %}


      <!-- Work -->
      <div class="row">
        <div class="spacer"></div>
        <div class="large-12 columns">
          <div class="hero">
          <a name="work"></a>
          <h1 data-magellan-destination="work blurb">Old work.</h1>
          <h3>User experience work contributed to projects while at the <a href="http://consumerfinance.gov" target="new" title="takes you to CFPB landing page">Consumer Financial Protection Bureau</a>.</h3>
        <!--</div>
      </div><!--closes out columns-->
    </div><!--closes out row-->

          <div class="row">

            <div class="small-6 medium-3 large-3 columns">
              <a href="prepaids.html">
              <img class="portfolio" data-caption="caption here..." src="img/thumbs/prepaids.png"></a>
            </div>

            <div class="small-6 medium-3 large-3 columns">
              <a href="hmda.html">
              <img class="portfolio" data-caption="caption 2 here..." src="img/thumbs/hmda.png"></a>
            </div>

            <div class="small-6 medium-3 large-3 columns">
              <a href="api.html">
              <img class="portfolio" data-caption="caption 3 here..." src="img/thumbs/api.png"></a>
            </div>

            <div class="small-6 medium-3 large-3 columns">
              <a href="wizard.html">
              <img class="portfolio" data-caption="caption 4 here..." src="img/thumbs/wizard.png"></a>
            </div>
          </div>

          <div class="row portfolio-row-2">
            <div class="small-6 medium-3 large-3 columns">
              <a href="idea-box.html">
              <img class="portfolio" data-caption="caption here..." src="img/thumbs/ideabox.png"></a>
            </div>

            <div class="small-6 medium-3 large-3 columns">
              <a href="pattern-library.html">
              <img class="portfolio" data-caption="caption 2 here..." src="img/thumbs/pattern-library.png"></a>
            </div>

            <div class="small-6 medium-3 large-3 columns">
              <a href="paying-for-college.html">
              <img class="portfolio" data-caption="caption 3 here..." src="img/thumbs/p4c.png"></a>
            </div>

            <div class="small-6 medium-3 large-3 columns">
              <a href="ohai.html">
              <img class="portfolio" data-caption="caption 4 here..." src="img/thumbs/ohai.png"></a>
            </div>
          </div>

        </div>
      </div>

  <br>


  <div class="row">
        <div class="large-12 columns">
          <h1>Articles</h1>
          <h2><a href="http://cfpb.github.io/articles/designing-prepaid-card-disclosures/" target="new">Designing prepaid card disclosures</a></h2>
          <h5>CFPB Open Tech - March 15, 2015</h5>
          <p>How do we balance Bureau values, like transparency and free access to information, with facts about cognition, emotion, and shopping behavior? <a href="http://cfpb.github.io/articles/designing-prepaid-card-disclosures/" target="new">Keep reading  <i class="fa fa-external-link-square"></i></a></p>

          <h2><a href="http://rockcreeksm.com/blog/2014/03/launching-hmda-website-making-data-site-user-friendly/" target="new">Expanding public access to information about mortgage lending</a></h2>
          <h5>Rock Creek Blog - March 11, 2014</h5>
          <p>This data is brought to you by <a href="https://github.com/cfpb/qu" target="new">Qu</a>, a data platform. It's the first government open-source project developed on Github. <a href="http://rockcreeksm.com/blog/2014/03/launching-hmda-website-making-data-site-user-friendly/" target="new">Keep reading  <i class="fa fa-external-link-square"></i></a></p>
      </div>
    </div><!--closes out row-->


 {% include scripts.html %}
</body>
</html>
