  <!-- Footer -->
      <footer>
        <div class="row">
        <hr>
          <div class="small-12 medium-6 columns">
            <p class="small-only-text-center">&copy;2015 <a href="mailto:sayhello@thedezzie.com">Desirée Zamora García</a>.</p>
          </div> <!-- end footer block 1 -->

          <div class="small-12 medium-6 columns" id="social-icons">
            <ul class="inline-list">
              <li><a href="https://github.com/dezzie" title="View my repos" target="_blank"><i class="el-icon-github"></i> </a></li>
              <li><a href="http://bit.ly/dezzie-linkedin" title="View my LinkedIn profile" target="_blank"><i class="el-icon-linkedin"></i> </a></li>
              <li><a href="http://twitter.com/thedezzie" title="Follow Me on Twitter" target="_blank"><i class="el-icon-twitter"></i> </a></li>
              <li><a href="http://www.last.fm/user/missdezzie" target="_blank"><i class="el-icon-lastfm"></i> </a></li>
            </ul>
          </div> <!-- end footer block 2 -->
        </div>

      </footer>