    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/elusive-webfont.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="js/vendor/modernizr.js"></script>  
    <link href="css/animations.css" rel="stylesheet">


    <!-- Font -->
    <link rel="stylesheet" href="fonts/elusive-webfont.css">
	<link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favibird.ico">
