 <!-- Nav for Large Up-->
<div class="magellan-container fixed" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;">
  
<!--Start nav left-->
<div class="small-3 large-6 columns">
  <ul class="title-area sub-nav">
    <li data-magellan-arrival="home" class="name"><div id="logo" class="slideDown"><a href="index.html">Home</a></div></li>
  </ul>
</div><!--Nav left-->
 
  <!--Start nav right-->
 <div class="small-9 large-6 columns">
  <ul class="sub-nav right">
  	<li data-magellan-arrival="work"><a href="index.html">Work</a></li>
    <!--<li data-magellan-arrival="resume" class="show-for-medium-up"><a href="resume.html">Resume</a></li>
    -->
    <li data-magellan-arrival="contact" class="show-for-medium-up"><a href="mailto:sayhello@thedezzie.com">Say Hello</a></li>
    <li data-magellan-arrival="contact" class="show-for-small-only"><a href="mailto:sayhello@thedezzie.com">Say Hi</a></li>
  </ul>
 </div><!--Nav right-->
</div><!--ends nav-->
